*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.btn{
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 4px;
}

#menu{
    padding: 16px 0;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu .menu-container .nav-item ul li{
    list-style: none;
}
#menu .menu-container .nav-item ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.nav-item ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

