/* commom css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.btn{
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    background: grey;
    border: 1px solid white;
}

/* commom css end */

/* nav css start */
#menu{
    padding: 16px 0;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu .menu-container .nav-item ul li{
    list-style: none;
}
#menu .menu-container .nav-item ul li a{
    text-decoration: none;
    font-weight: 500;
}
.nav-item ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
/* nav css end */

/* banner css start */
#banner{
    width: 100%;
    height: 84vh;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
}
.banner-btn{
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
}
.banner_btn{

}

.banner_btn{
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 4px;
}
.banner_btn:hover{
    background: transparent;
    border: 1px solid white;
}
.banner-text h1{
    color: white;
    font-size: 72px;
    font-weight: 700;
    padding-top: 16px;
}
.banner-text h1 span{
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
}
.banner-text p{
    color: white;
    font-size: 17px;
    padding: 16px 24% 32px 24%;
    line-height: 24px;
}
/* banner css end */
