/* commom css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.btn{
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    background: grey;
    border: 1px solid white;
}

/* commom css end */

/* nav css start */
#menu{
    padding: 16px 0;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu .menu-container .nav-item ul li{
    list-style: none;
}
#menu .menu-container .nav-item ul li a{
    text-decoration: none;
    font-weight: 500;
}
.nav-item ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
/* nav css end */

/* banner css start */
#banner{
    width: 100%;
    height: 83.5vh;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
}
.banner-btn{
    color: #30B868;
    padding: 8px 12px;
    border-radius: 1000px;
}
.banner_btn{
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 4px;
}
.banner_btn:hover{
    background: transparent;
    border: 1px solid white;
}
.banner-text h1{
    color: white;
    font-size: 72px;
    font-weight: 700;
    padding-top: 16px;
}
.banner-text h1 span{
    color: #30B868;
    font-size: 72px;
    font-weight: 700;
}
.banner-text p{
    color: white;
    font-size: 17px;
    padding: 16px 24% 32px 24%;
    line-height: 24px;
}
/* banner css end */

/* banner css start */
#structure  {
   padding-top: 70px; 
}
.structure-text{
    text-align: center;

}
.structure-text h2{
    font-size: 48px;
    padding-bottom: 16px;
    font-weight: bold;
}

.structure-card{
    padding: 44px 120px 0 120px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.structure-box{
    width: 322px;
    height: 300px;
    box-shadow: 0 6px 50px 0 #00000015;
    border-radius: 5px;
    margin: 0 5px;
}
.structure-box img{
    padding: 10px;
    background-color: #F95555;
    border-radius: 100%;
    margin-top: 20%;
}
.structure-box h3{
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0;
}
.structure-box p{
    padding: 0 10px;
    font-size: 13px;
}
/* banner css end */